.footer_link {
    color: white;
    padding: 10px 15px;
}
.footer_link li {
    margin-bottom: 10px !important;
}
.footer_color {
    background-color: #121212;
}
.footer_link a:hover {
    color: black !important;
}
.footer_link:hover {
    background-color: white;
}