.footer_link {
    color: white;
    padding: 7px 8px;
}
.footer_link li {
    margin-bottom: 10px !important;
}
.menu_footer li {
    margin: 15px 0;
}
.footer_color {
    background-color: #35363a;
}
.footer_link a:hover {
    color: black !important;
}
.footer_link:hover {
    background-color: white;
}
@media(max-width: 468px) {
    .covidbanner {
        flex-direction: row !important;
    }
}