.title {
    font-size: 80px;
    font-weight: 400;
  }
.is-call {
  border: 1px solid white;
  background-color: $dark;
  color: white;
}
.is-call:hover {
  color: black;
  background-color: white;
}
@media(max-width: 968px) {
    .title {
      font-size: 50px;
    }
    .subtitle {
        font-size: 18px;
    }
    .home_logo {
        margin: 150px 0 20px 0;
    }
  }
@media(max-width: 468px) {
    .title {
      font-size: 30px;
    }
  }
.main_text {
    max-width: 768px;
}