<!-- Meta Tags -->
<title itemprop="name">{{ .Title }} | {{ .Site.Title }}</title>

<meta property="og:type" content="website" />
<meta name="robots" content="index,follow" /> 
<meta name="googlebot" content="index,follow" />
<!-- Favicon Setup -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">

<!-- Link tags -->
<base href="{{ .Permalink }}">
<link rel="canonical" href="{{ .Permalink }}" itemprop="url" /> 
<meta name="url" content="{{ .Permalink }}" />
<meta name="twitter:url" content="{{ .Permalink }}" /> 
<meta property="og:url" content="{{ .Permalink }}" />

<meta property="og:locale" content="{{ .Site.LanguageCode }}">
<meta name="language" content="{{ .Site.LanguageCode }}">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://www.thenorthglen.com">
<meta property="og:type" content="website">
<meta property="og:title" content="Welcome to the North Glengarry | The North Glengarry Restaurant">
<meta property="og:description" content="The North Glengarry is a fully licensed restaurant. We are renowned for our excellent food, varied menu and fast service, both in house and delivery.">
<meta property="og:image" content="https://www.thenorthglen.com/img/og.jpg">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="thenorthglen.com">
<meta property="twitter:url" content="https://www.thenorthglen.com">
<meta name="twitter:title" content="Welcome to the North Glengarry | The North Glengarry Restaurant">
<meta name="twitter:description" content="The North Glengarry is a fully licensed restaurant. We are renowned for our excellent food, varied menu and fast service, both in house and delivery.">
<meta name="twitter:image" content="https://www.thenorthglen.com/img/og.jpg">

<meta property="og:updated_time" content={{ .Lastmod.Format "2006-01-02T15:04:05Z0700" | safeHTML }} />
<link rel="sitemap" type="application/xml" title="Sitemap" href="{{ .Site.BaseURL }}sitemap.xml" /> 

{{ with .OutputFormats.Get "RSS" }}
<link href="{{ .Permalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
<link href="{{ .Permalink }}" rel="feed" type="application/rss+xml" title="{{ $.Site.Title }}" />
{{ end }}