<nav class="desktop navbar is-fixed-top has-background-black py-2" role="navigation" aria-label="main navigation">
  <div class="container ">
  <div class="navbar-brand">
    <a class="has-text-white is-flex is-row is-aligned-center" href="{{ .Site.BaseURL | relLangURL }}">
      
      <img src="{{ .Site.BaseURL }}img/logonav.png" alt="" class="lazyload" width="250px"></a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">

    <div class="navbar-end">
      {{ range .Site.Menus.main -}}
          
      <a class="navbar-item" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
      
      {{ end }}

      {{ if .Site.Params.showLanguageSelector }}
      <div class="navbar-item">
          <div class="">
          
            {{ if .IsTranslated }}
          
            {{ range .Translations }}
          
            {{ if eq .Site.Language.Lang "en" }}
          
            <a class="button is-secondary translate" title="English" href="{{ .RelPermalink }}">EN</a>
          
            {{ else }}
         
            <a class="button is-secondary translate" title="French" href="{{ .RelPermalink }}">FR</a>
           
            {{ end }}
          
                {{ end }}
          
                {{ else }}
           
                {{ if eq .Site.Language.Lang "fr" }}
          
                <a class="button is-secondary" title="English" href="/en">EN</a>
            
                {{ else }}
            
                <a class="button is-secondary" title="French" href="/">EN</a>
            
                {{ end }}
          
                {{ end }}
          
              </div>
              {{ else }}
              <span></span>
              {{ end }}
            </div>
            <div class="navbar-item menu-phone">
  
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-telephone-outbound-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      
                  <path fill-rule="evenodd" d="M2.267.98a1.636 1.636 0 0 1 2.448.152l1.681 2.162c.309.396.418.913.296 1.4l-.513 2.053a.636.636 0 0 0 .167.604L8.65 9.654a.636.636 0 0 0 .604.167l2.052-.513a1.636 1.636 0 0 1 1.401.296l2.162 1.681c.777.604.849 1.753.153 2.448l-.97.97c-.693.693-1.73.998-2.697.658a17.471 17.471 0 0 1-6.571-4.144A17.47 17.47 0 0 1 .639 4.646c-.34-.967-.035-2.004.658-2.698l.97-.969zM11 .5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V1.707l-4.146 4.147a.5.5 0 0 1-.708-.708L14.293 1H11.5a.5.5 0 0 1-.5-.5z"/>
                
              </svg>
      
              1-613-525-3030
              </div>

    </div>
  </div>
</div>
</nav>
<!-- Mobile Menu -->
<div class="navbar has-background-black is-fixed-top menu-wrap mobile">
  <div class="p-2">
    <a class="has-text-white is-flex is-row is-aligned-center" href="{{ .Site.BaseURL | relLangURL }}">
      <img src="{{ .Site.BaseURL }}img/logonav.png" alt="" class="lazyload" width="200px" height="100px"></a>

  </div>
  <input type="checkbox" class="toggler">

  <div class="hamburger"><div></div></div>
  <div class="menu">
    <div>
      <div>
        <ul>

          {{ range .Site.Menus.main -}}

          <li><a class="nav-item nav-link uppercase" href="{{ .URL | relLangURL }}">{{ .Name }}</a></li>

          {{ end }}
          {{ if .IsTranslated }}
            {{ range .Translations }}
              {{ if eq .Site.Language.Lang "en" }}
            <li><a class="nav-item nav-link" title="English" href="{{ .RelPermalink }}">EN</a></li>
              {{ else }}
            <li><a class="nav-item nav-link" title="French" href="{{ .RelPermalink }}">FR</a></li>
              {{ end }}
            {{ end }}
          {{ else }}
            {{ if eq .Site.Language.Lang "fr" }}
            <li><a class="nav-item nav-link" title="English" href="/en">EN</a></li>
            {{ else }}
            <li><a class="nav-item nav-link" title="French" href="/">FR</a></li>
            {{ end }}
          {{ end }}
          <li class="navbar-item">
            <a href="tel:1-613-525-3030" class="button is-primary is-inverted">1-613-525-3030</a> 
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</nav>