<nav class="desktop navbar is-fixed-top has-background-black py-2" role="navigation" aria-label="main navigation">
  <div class="container ">
  <div class="navbar-brand">
    <a class="has-text-white is-flex is-row is-aligned-center" href="{{ .Site.BaseURL | relLangURL }}">
      
      <img src="{{ .Site.BaseURL }}img/logo.jpg" alt="" class="lazyload" width="50px" height="50px">
      <h1 style="padding-left:8px; font-size: 28px;">The North Glengarry</h1></a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">

    <div class="navbar-end">
      {{ range .Site.Menus.main -}}
          
      <a class="navbar-item" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
      
      {{ end }}
      {{ if .Site.Params.showLanguageSelector }}
      <div class="navbar-item">
          <div class="">
          
            {{ if .IsTranslated }}
          
            {{ range .Translations }}
          
            {{ if eq .Site.Language.Lang "en" }}
          
            <a class="button is-secondary translate" title="English" href="{{ .RelPermalink }}">EN</a>
          
            {{ else }}
         
            <a class="button is-secondary translate" title="French" href="{{ .RelPermalink }}">FR</a>
           
            {{ end }}
          
                {{ end }}
          
                {{ else }}
           
                {{ if eq .Site.Language.Lang "fr" }}
          
                <a class="button is-secondary" title="English" href="/en">EN</a>
            
                {{ else }}
            
                <a class="button is-secondary" title="French" href="/">EN</a>
            
                {{ end }}
          
                {{ end }}
          
              </div>
              {{ else }}
              <span></span>
              {{ end }}
            </div>

    </div>
  </div>
</div>
</nav>
<!-- Mobile Menu -->
<div class="navbar has-background-black is-fixed-top menu-wrap mobile">
  <div class="p-2">
    <a class="has-text-white is-flex is-row is-aligned-center" href="{{ .Site.BaseURL | relLangURL }}">
      <img src="img/logo.jpg" alt="" class="lazyload" width="40px" height="40px">
      <h1 style="padding-left:5px; font-size:20px;">The North Glengarry</h1></a>

  </div>
  <input type="checkbox" class="toggler">

  <div class="hamburger"><div></div></div>
  <div class="menu">
    <div>
      <div>
        <ul>

          {{ range .Site.Menus.main -}}

          <li><a class="nav-item nav-link uppercase" href="{{ .URL | relLangURL }}">{{ .Name }}</a></li>

          {{ end }}
          {{ if .IsTranslated }}
            {{ range .Translations }}
              {{ if eq .Site.Language.Lang "en" }}
            <li><a class="nav-item nav-link" title="English" href="{{ .RelPermalink }}">EN</a></li>
              {{ else }}
            <li><a class="nav-item nav-link" title="French" href="{{ .RelPermalink }}">FR</a></li>
              {{ end }}
            {{ end }}
          {{ else }}
            {{ if eq .Site.Language.Lang "fr" }}
            <li><a class="nav-item nav-link" title="English" href="/en">EN</a></li>
            {{ else }}
            <li><a class="nav-item nav-link" title="French" href="/">FR</a></li>
            {{ end }}
          {{ end }}

        </ul>
      </div>
    </div>
  </div>
</div>
</nav>