<script type="application/ld+json"> {
    "@context" : "http://schema.org",
    "@type" : "{{ $.Site.Params.schema.type }}",
    "telephone":"{{ $.Site.Params.schema.phone }}",
    "image": "{{ $.Site.Params.schema.image }}",
    "address" : {
        "@type": "PostalAddress",
        "addressLocality": "{{ $.Site.Params.schema.city }}",
        "addressRegion": "{{ $.Site.Params.schema.region }}",
        "postalCode": "{{ $.Site.Params.schema.postalcode }}",
        "streetAddress": "{{ $.Site.Params.schema.address }}, {{ $.Site.Params.schema.address2 }}" 
    },
    "priceRange": "{{ $.Site.Params.schema.priceRange }}",
    "reviewCount": "{{ $.Site.Params.schema.reviewcount }}",
    "reviewValue": "{{ $.Site.Params.schema.reviewvalue }}",
    "Reservation": "{{ $.Site.Params.schema.reservation }}",
    "name":"{{.Site.Title}}",
    "url":"{{.Site.BaseURL}}",
    "openingHours": [
    "{{ $.Site.Params.schema.openinghour }}"]
}
</script>
  
