<script type="application/ld+json"> {
    "@context" : "http://schema.org",
    "@type" : "Restaurant",
    "name":"The North Glengarry",
    "url":"https://www.thenorthglen.com",
    "email":"thenorthglen@gmail.com",
    "telephone":"1-613-525-3030",
    "aggregateRating":{
    "@type":"AggregateRating",
    "ratingValue":"4",
    "reviewCount":"531"},
    "priceRange":"2",
    "servesCuisine": ["Family Style Restaurant"],"acceptsReservations":"true",
    "menu":"https://www.thenorthglen.com",
    "paymentAccepted":"Visa, Master Card, Amex"
    } </script>
  
