nav {
  z-index: 9999;
}
.is-primary:hover {
    background-color: green !important;
  }
.is-secondary:hover {
    background-color: $primary !important;
    color: white !important;
    border-color: white !important;
}
.is-dark {
  background-color: #121212;
}
.has-background-dark {
  background-color:#121212 !important;
}
.w-100 {
  width: 100%;
}
@media(max-width: 468px) {
.is-size-2 {
  font-size: 25px !important;
}
}