{{ define "main" }} 
{{- partial "elements/subheader.html" . }}

<section class="section is-small mt-5">
    <div class="container mt-5">
        <div class="columns is-6">
            <div class="column is-8">
                <h2 class="is-size-2">
                    {{ .Params.heading1 }}
                </h2>
                <p class="block pt-2">{{.Params.aboutus | safeHTML }}</p>
            </div>
            <div class="column is-4 is-flex is-aligned-end is-justified-end">
                <img src="{{ .Site.BaseURL }}img/aboutus.jpg"  alt="" class="lazyload shadow" data-aos="fade-up" data-aos-duration="500">
            </div>
        </div>
        <h2 class="is-size-2 mb-5">
            {{ .Params.heading2 }}
        </h2>
        <img src="{{ .Site.BaseURL }}img/ourhistory.jpg" alt="" class="lazyload shadow" data-aos="fade-up" data-aos-duration="500">

                <p class="block py-1 mb-5">{{.Params.ourhistory | safeHTML }}</p>
                <div class="py-5"></div>
</div>
</section>


{{ end }}