<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <!-- Required meta tags -->

    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- CSS Processing -->
    {{ $styles := resources.Get "scss/import.scss" | toCSS | minify }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}" />

    <!-- Animate On Scroll -->

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

    <!-- Search Engine Optimization -->
    <title>{{.Title}} - {{ $.Site.Title }}</title>

    {{- partial "head/schema.html" . }}
    {{- partial "head/meta.html" . }} 
    
    {{ if .Params.hidden }}
    <meta name="robots" content="noindex" />
    <meta name="googlebot" content="noindex,nofollow" />
    {{ else }}
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index,follow" />
    {{ end }} 
    
    {{- partial "head/gtm-head.html" . }}
  </head>
  <body>
    <div id="content">
      {{- partial "head/nav.html" . }} {{- block "main" . }}{{- end }}
    </div>
    {{- partial "footer/gtm-body.html" . }}
    <footer class="">
    {{- partial "footer/footer.html" . }} 
     {{- partial "footer/credits.html" . }} 
     {{- partial "footer/scripts.html" . }}
    </footer>
  </body>
</html>
