{{ define "main" }} 
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v9.0&appId=2592927640943423&autoLogAppEvents=1" nonce="uMOjW95a"></script>
{{- partial "elements/subheader.html" . }}

<section class="section is-small my-5">
    <main class="container my-5">
        <div class="columns mt-5">
            <div class="column is-12">
                 <h2 class="title is-size-3 text-uppercase has-text-centered-touch">{{ i18n "contactdetail" }}</h2>
       
                 <div class="pt-4 mt-5">
                   {{ .Params.contactinfo | safeHTML}}
               </div>

        {{- partial "contactform.html" . }}
    </main>
</section>
{{ end }}