{{ define "main" }}

<section class="hero is-dark is-fullheight is-flex is-justified-center is-aligned-center homesection">
      <div class="bg-video-wrap">

          <iframe src="https://player.vimeo.com/video/479106826?background=1&autoplay=1&loop=1&byline=0&title=0"
                  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
       
      <div class="overlay">
    </div>
</div>
    <div class="textbox">
        <img src="{{ .Site.BaseURL }}img/mainlogo.png" alt="" class="lazyload py-5 home_logo" width="600px">
        <h2 class="is-size-2 pb-3">{{ .Params.subheading }}</h2>
        <div class="main_text">
        <p class="subtitle">
            {{ .Params.sub1 }}
        </p>
<p class="subtitle">{{ .Params.sub2 }}
        </p>
    </div>
    <div class="level">
        <a href="{{ .Site.BaseURL }}{{ .Params.cta_link }}" class="button is-secondary is-medium mt-5 mx-2">{{ .Params.cta_text }}</a>
        <a href="tel:1-613-525-3030" class="button is-call is-medium mt-5 mx-2 callbutton">{{ .Params.cta_text2 }}</a>
      </div>
      </div>
    </div>
</section>
<!-- {{- partial "pages/home/header/herocenter.html" . }}-->
{{ end }}
