{{ define "main" }}

<!-- Hero -->

{{- partial "pages/home/header/heroleft.html" . }}
<!-- {{- partial "pages/home/header/herocenter.html" . }} -->

<!-- Section 2 Top -->

<section id="about" class="section is-medium">
  <div class="container">
    <div class="columns is-6">
      <div class="column">
        <img
          src="{{ .Site.BaseURL }}img/about-image.jpg"
          class="border-green shadow"
          alt="{{ .Params.about_alt }}"
          data-aos="fade-right"
          data-aos-duration="1000"
          data-aos-delay="0"
        />
      </div>
      <div class="column is-6 is-flex is-row is-aligned-center">
        <div class="">
          <h2 class="is-size-2 is-bold">{{.Params.about_heading}}</h2>
          <p class="py-3 block">{{ .Params.about_1 }}</p>
          <h3 class="is-size-4 pb-2">{{ .Params.about_2_heading }}</h3>
          <p>{{ .Params.about_2_text }}</p>
          <br />
          <h3 class="is-size-4 pb-2">{{ .Params.about_3_heading }}</h3>
          <p>{{ .Params.about_3_text }}</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="marketing" class="section is-large has-background-primary">
  <div class="container has-text-white">
    <div class="columns is-8">
      <div class="column">
        <h2 class="is-size-2 is-bold">{{ .Params.Service1 }}</h2>
        <p class="block py-1">{{.Params.service1_text | safeHTML}}</p>
        <a href="{{.Params.cta_link}}" class="button is-secondary my-5"
          >{{.Params.cta_text}}</a
        >
      </div>
      <div class="column">
        <img
          src="{{ .Site.BaseURL }}img/marketing.jpg"
          class="shadow lazyload border-white"
          alt="{{ .Params.marketing_alt }}"
          data-aos="fade-in"
          data-aos-duration="1000"
          data-aos-delay="0"
        />
      </div>
    </div>
  </div>
</section>

<section id="health" class="section is-medium">
  <div class="container">
    <div class="columns is-8">
      <div class="column">
        <img
          src="{{ .Site.BaseURL }}img/health.jpg"
          class="shadow lazyload border-green"
          alt="{{ .Params.health_alt }}"
          data-aos="fade-in"
          data-aos-duration="1000"
          data-aos-delay="0"
        />
      </div>
      <div class="column">
        <h2 class="is-size-2 is-bold">{{ .Params.Service2 }}</h2>
        <p class="block py-1">{{.Params.service2_text | safeHTML}}</p>
        <a href="{{.Params.cta_link}}" class="button is-primary my-5"
          >{{.Params.cta_text}}</a
        >
      </div>
    </div>
  </div>
</section>

<section id="consulting" class="section is-large has-background-primary">
  <div class="container has-text-white">
    <div class="columns is-8">
      <div class="column">
        <h2 class="is-size-2 is-bold">{{ .Params.Service3 }}</h2>
        <p class="block py-1">{{.Params.service3_text | safeHTML}}</p>
        <a href="{{.Params.cta_link}}" class="button is-secondary my-5"
          >{{.Params.cta_text}}</a
        >
      </div>
      <div class="column">
        <img
          src="{{ .Site.BaseURL }}img/consulting.jpg"
          class="shadow lazyload border-white"
          alt="{{ .Params.coaching_alt }}"
          data-aos="fade-in"
          data-aos-duration="1000"
          data-aos-delay="0"
        />
      </div>
    </div>
  </div>
</section>

<section id="contact" class="section is-small">
  <div class="container">
    <h2 class="is-size-2 is-bold has-text-centered has-text-left-touch">
      {{ .Params.contact_heading }}
    </h2>
    <p class="has-text-centered has-text-left-touch block py-2">
      {{ .Params.contact_subheading | safeHTML }}
    </p>
  </div>
  <div class="column is-half is-offset-one-quarter shadow is-bordered my-5 p-5">
    <form
      id="contact-form"
      method="POST"
      action="{{ .Site.Params.usebasin }}"
      role="form"
    >
      <div class="field">
        <label class="label">{{ i18n "firstname" }} *</label>

        <div class="control">
          <input
            id="form_name"
            class="input"
            placeholder="e.g Alex Smith"
            type="text"
            name="name"
            class="form-control"
            required="required"
            data-error="Firstname is required."
          />
        </div>
      </div>

      <div class="field">
        <label class="label">{{ i18n "email" }} *</label>

        <div class="control">
          <input
            class="input"
            type="email"
            placeholder="e.g. alexsmith@gmail.com"
            data-error="Valid email is required."
          />
        </div>
      </div>

      <div class="field">
        <label class="label">{{ i18n "phone" }}</label>

        <div class="control">
          <input class="input" type="tel" placeholder="e.g. +1-234-567-7890" />
        </div>
      </div>

      <div class="field">
        <label for="form_message"><strong>Message *</strong></label>

        <textarea
          id="form_message"
          name="message"
          class="textarea"
          rows="4"
          required
          data-error="Please,leave us a message."
        ></textarea>
      </div>
      <div class="is-flex is-justified-center">
        <input type="submit" class="button is-primary my-5 has-text-centered"
        value="{{ i18n "send" }}">
      </div>
    </form>
  </div>
  <div class="column is-half is-offset-one-quarter contactwidget">
    <div class="columns my-5">
      <div class="column is-flex is-column is-aligned-center">
        <div class="fill-brand pb-3">
          <svg
            width="3em"
            height="3em"
            viewBox="0 0 16 16"
            class="bi bi-telephone-outbound-fill"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M2.267.98a1.636 1.636 0 0 1 2.448.152l1.681 2.162c.309.396.418.913.296 1.4l-.513 2.053a.636.636 0 0 0 .167.604L8.65 9.654a.636.636 0 0 0 .604.167l2.052-.513a1.636 1.636 0 0 1 1.401.296l2.162 1.681c.777.604.849 1.753.153 2.448l-.97.97c-.693.693-1.73.998-2.697.658a17.471 17.471 0 0 1-6.571-4.144A17.47 17.47 0 0 1 .639 4.646c-.34-.967-.035-2.004.658-2.698l.97-.969zM11 .5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V1.707l-4.146 4.147a.5.5 0 0 1-.708-.708L14.293 1H11.5a.5.5 0 0 1-.5-.5z"
            />
          </svg>
        </div>
        <h4 class="is-size-4 has-text-centered">{{ i18n "phone" }}</h4>

        <a href="tel:{{ $.Site.Params.schema.phone }}" class="mt-3"
          >{{ $.Site.Params.schema.phone }}</a
        >
      </div>
      <div class="column is-flex is-column is-aligned-center">
        <div class="fill-brand pb-3">
          <svg
            width="3em"
            height="3em"
            viewBox="0 0 16 16"
            class="bi bi-envelope-fill"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"
            />
          </svg>
        </div>
        <h4 class="is-size-4 has-text-centered">{{ i18n "email" }}</h4>

        <a href="mailto:{{ $.Site.Params.schema.email }}" class="mt-3"
          >{{ $.Site.Params.schema.email }}</a
        >
      </div>
      <div class="column is-flex is-column is-aligned-center">
        <div class="fill-brand pb-3">
          <svg
            width="3em"
            height="3em"
            viewBox="0 0 16 16"
            class="bi bi-geo-alt"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
            />
          </svg>
        </div>
        <h4 class="is-size-4 has-text-centered">{{ i18n "address" }}</h4>
        <p class="has-text-centered mt-3">
          {{ $.Site.Params.schema.address }}<br />
          {{ $.Site.Params.schema.city }}, {{ $.Site.Params.schema.region }},<br />
          Canada, {{ $.Site.Params.schema.postalcode }}
        </p>
      </div>
    </div>
  </div>
</section>
{{ end }}
