{{ define "main" }} 
{{- partial "elements/subheader.html" . }}

<section class="section is-small my-5">
    <main class="container my-5">
        <p class="is-size-4 pb-5 mb-5">{{ .Params.intro }}</p>


        <!-- Appetizers-->
        <h2 class="is-size-2 mt-5 pt-5 pb-3 menu_header">{{ i18n "appetizers" }}</h2>
        {{ $display_posts := ((.Site.GetPage "section" "/appetizers").Pages) }}
        {{ range $post := $display_posts }}
            <div class="menu mb-3 columns is-mobile">
              <div class="column is-6">
                <div class="menu__item--title">
                <h4 class="">{{ $post.Params.title }}</h4>
                {{ if .Params.description }}
                <div class="menu__item--desc">
                <p>{{ $post.Params.description | safeHTML }}</p>
              </div>
                {{ else }}
                <span></span>
                {{ end }}
              </div>
            </div>
              <div class="column is-6 is-flex is-justified-end">
                <div class="menu__item--price2">
                  {{ if .Params.price_s }}
                  <span class="pr-1 menu__item--price2"><small class="price_prefix">{{ i18n "small" }}</small> {{ $post.Params.price_s }} <small class="price_prefix">{{ i18n "large" }}</small></span>
                  {{ else }}
                  <span></span>
                  {{ end }}
                  {{ if .Params.price_l }}
                  <span class="pr-1">{{ $post.Params.price_l }}</span>
                  {{ else }}
                  <span></span>
                  {{ end }}
                  {{ if .Params.price_lg }}
                  <span class="pr-2">{{ $post.Params.price_lg }}</span>
                  {{ else }}
                  <span></span>
                  {{ end }}
              </div>
                </div>
              </div>
        {{ end }}

        <!-- Poutine-->
        <h2 class="is-size-2 mt-5 pt-5 pb-3 menu_header">{{ i18n "poutine" }}</h2>
        {{ $display_posts := ((.Site.GetPage "section" "/poutine").Pages) }}
        {{ range $post := $display_posts }}
            <div class="menu mb-3 columns is-mobile">
              <div class="column is-6">
                <div class="menu__item--title">
                <h4 class="">{{ $post.Params.title }}</h4>
                {{ if .Params.description }}
                <div class="menu__item--desc">
                <p>{{ $post.Params.description | safeHTML }}</p>
              </div>
                {{ else }}
                <span></span>
                {{ end }}
              </div>
            </div>
              <div class="column is-6 is-flex is-justified-end">
                <div class="menu__item--price2">
                  {{ if .Params.price_s }}
                  <span class="pr-1 menu__item--price2"><small class="price_prefix">{{ i18n "small" }}</small> {{ $post.Params.price_s }} <small class="price_prefix">{{ i18n "large" }}</small></span>
                  {{ else }}
                  <span></span>
                  {{ end }}
                  {{ if .Params.price_l }}
                  <span class="pr-1">{{ $post.Params.price_l }}</span>
                  {{ else }}
                  <span></span>
                  {{ end }}
                  {{ if .Params.price_lg }}
                  <span class="pr-2">{{ $post.Params.price_lg }}</span>
                  {{ else }}
                  <span></span>
                  {{ end }}
              </div>
                </div>
              </div>
        {{ end }}

        <!-- Wraps -->
        <h2 class="is-size-2 mt-5 pt-5 pb-3 menu_header">{{ i18n "wraps" }}</h2>
        <h3 class="is-size-4 pb-5">{{ .Params.wrapsintro | safeHTML }}</h3>
        {{ $display_posts := ((.Site.GetPage "section" "/Wraps").Pages) }}
        {{ range $post := $display_posts }}
            <div class="menu mb-3 level is-mobile">
              <div class="column p-0 is-8">
                <div class="menu__item--title">
                <h4 class="">{{ $post.Params.title }}</h4>
                {{ if .Params.description }}
                <div class="menu__item--desc">
                <p>{{ $post.Params.description | safeHTML }}</p>
              </div>
                {{ else }}
                <span></span>
                {{ end }}
              </div>
            </div>
              <div class="column is-4 is-flex is-justified-end">
                <div class="menu__item--price2">
                  {{ if .Params.price_s }}
                  <span class="pr-2 menu__item--price2"><small class="price_prefix">Wrap</small> {{ $post.Params.price_s }}</span>
                  {{ else }}
                  <span></span>
                  {{ end }}
                  {{ if .Params.price_l }}
                  <span class="pr-2"><small class="price_prefix">{{ i18n "platter" }}</small> {{ $post.Params.price_l }}</span>
                  {{ else }}
                  <span></span>
                  {{ end }}
                  {{ if .Params.price_lg }}
                  <span class="pr-2">${{ $post.Params.price_lg }}</span>
                  {{ else }}
                  <span></span>
                  {{ end }}
              </div>
                </div>
              </div>
        {{ end }}

        <!-- Sandwiches -->
        <h2 class="is-size-2 mt-5 pt-5 pb-3 menu_header">Sandwiches</h2>
        <h3 class="is-size-4 pb-5">{{ .Params.sandintro | safeHTML }}</h3>
        {{ $display_posts := ((.Site.GetPage "section" "/Sandwiches").Pages) }}
        {{ range $post := $display_posts }}
            <div class="menu mb-3 level is-mobile">
              <div class="column p-0 is-8">
                <div class="menu__item--title">
                <h4 class="">{{ $post.Params.title }}</h4>
                {{ if .Params.description }}
                <div class="menu__item--desc">
                <p>{{ $post.Params.description | safeHTML }}</p>
              </div>
                {{ else }}
                <span></span>
                {{ end }}
              </div>
            </div>
              <div class="column is-4 is-flex is-justified-end">
                <div class="menu__item--price2">
                  {{ if .Params.price_s }}
                  <span class="pr-2 menu__item--price2"><small class="price_prefix"></small> {{ $post.Params.price_s }}</span>
                  {{ else }}
                  <span></span>
                  {{ end }}
                  {{ if .Params.price_l }}
                  <span class="pr-2"><small class="price_prefix">{{ i18n "platter" }}</small> {{ $post.Params.price_l }}</span>
                  {{ else }}
                  <span></span>
                  {{ end }}
                  {{ if .Params.price_lg }}
                  <span class="pr-2">${{ $post.Params.price_lg }}</span>
                  {{ else }}
                  <span></span>
                  {{ end }}
              </div>
                </div>
              </div>
        {{ end }}
        
        <!-- Subs-->
        <h2 class="is-size-2 mt-5 pt-5 pb-3 menu_header">{{ i18n "subs" }}</h2>
        <h3 class="is-size-4 pb-5">{{ .Params.subsintro | safeHTML }}</h3>
        {{ $display_posts := ((.Site.GetPage "section" "/Subs").Pages) }}
        {{ range $post := $display_posts }}
            <div class="menu mb-3 level is-mobile">
              <div class="column p-0">
                <div class="menu__item--title">
                <h4 class="">{{ $post.Params.title }}</h4>
                {{ if .Params.description }}
                <div class="menu__item--desc">
                <p>{{ $post.Params.description | safeHTML }}</p>
              </div>
                {{ else }}
                <span></span>
                {{ end }}
              </div>
            </div>
              <div class="column is-4 is-flex is-justified-end">
                <div class="menu__item--price2">
                  {{ if .Params.price_s }}
                  <span class="pr-2 menu__item--price2"><small class="price_prefix">Half</small> {{ $post.Params.price_s }}</span>
                  {{ else }}
                  <span></span>
                  {{ end }}
                  {{ if .Params.price_l }}
                  <span class="pr-2"><small class="price_prefix">Whole</small> {{ $post.Params.price_l }}</span>
                  {{ else }}
                  <span></span>
                  {{ end }}
                  {{ if .Params.price_lg }}
                  <span class="pr-2">${{ $post.Params.price_lg }}</span>
                  {{ else }}
                  <span></span>
                  {{ end }}
              </div>
                </div>
              </div>
        {{ end }}
        

        <!-- Salads -->
        <h2 class="is-size-2 mt-5 pt-5 pb-3 menu_header">{{ i18n "salads" }}</h2>
        <h3 class="is-size-4 pb-5">{{ .Params.saladsintro | safeHTML }}</h3>
        {{ $display_posts := ((.Site.GetPage "section" "/Salads").Pages) }}
        {{ range $post := $display_posts }}
            <div class="menu mb-3 level is-mobile">
              <div class="column p-0 is-8">
                <div class="menu__item--title">
                <h4 class="">{{ $post.Params.title }}</h4>
                {{ if .Params.description }}
                <div class="menu__item--desc">
                <p>{{ $post.Params.description | safeHTML }}</p>
              </div>
                {{ else }}
                <span></span>
                {{ end }}
              </div>
            </div>
              <div class="column is-4 is-flex is-justified-end">
                <div class="menu__item--price2">
                  {{ if .Params.price_s }}
                  <span class="menu__item--price2"><small class="price_prefix">{{ i18n "small" }}</small> {{ $post.Params.price_s }} <small class="price_prefix">{{ i18n "large" }}</small></span>
                  {{ else }}
                  <span></span>
                  {{ end }}
                  {{ if .Params.price_l }}
                  <span class="pr-2"> {{ $post.Params.price_l }}</span>
                  {{ else }}
                  <span></span>
                  {{ end }}
                  {{ if .Params.price_lg }}
                  <span class="pr-2">${{ $post.Params.price_lg }}</span>
                  {{ else }}
                  <span></span>
                  {{ end }}
              </div>
                </div>
              </div>
        {{ end }}

        <!-- Surf & Turf -->
        <h2 class="is-size-2 mt-5 pt-5 pb-3 menu_header">{{ i18n "surf" }}</h2>
        {{ $display_posts := ((.Site.GetPage "section" "/Surf").Pages) }}
        {{ range $post := $display_posts }}
            <div class="menu mb-3 level is-mobile">
              <div class="column p-0 is-8">
                <div class="menu__item--title">
                <h4 class="">{{ $post.Params.title }}</h4>
                {{ if .Params.description }}
                <div class="menu__item--desc">
                <p>{{ $post.Params.description | safeHTML }}</p>
              </div>
                {{ else }}
                <span></span>
                {{ end }}
              </div>
            </div>
              <div class="column is-4 is-flex is-justified-end">
                <div class="menu__item--price2">
                  {{ if .Params.price_s }}
                  <span class="menu__item--price2"><small class="price_prefix">{{ i18n "single" }}</small> {{ $post.Params.price_s }} <small class="price_prefix">{{ i18n "double" }}</small></span>
                  {{ else }}
                  <span></span>
                  {{ end }}
                  {{ if .Params.price_l }}
                  <span class="pr-2"> {{ $post.Params.price_l }}</span>
                  {{ else }}
                  <span></span>
                  {{ end }}
                  {{ if .Params.price_lg }}
                  <span class="pr-2">${{ $post.Params.price_lg }}</span>
                  {{ else }}
                  <span></span>
                  {{ end }}
              </div>
                </div>
              </div>
        {{ end }}

        <!-- Italian-->
        <h2 class="is-size-2 mt-5 pt-5 pb-3 menu_header">{{ i18n "italian" }}</h2>
        <h3 class="is-size-4 pb-5">{{ .Params.italianintro }}</h3>
        {{ $display_posts := ((.Site.GetPage "section" "/Italian").Pages) }}
        {{ range $post := $display_posts }}
            <div class="menu mb-3">
                <div class="menu__item--title">
                <h4 class="">{{ $post.Params.title }}</h4>
                <div class="menu__item--price">
                  {{ if .Params.price_s }}
                  <span class="pr-2">${{ $post.Params.price_s }}</span>
                  {{ else }}
                  <span></span>
                  {{ end }}
                  {{ if .Params.price_l }}
                  <span class="pr-2">${{ $post.Params.price_l }}</span>
                  {{ else }}
                  <span></span>
                  {{ end }}
                  {{ if .Params.price_lg }}
                  <span class="pr-2">${{ $post.Params.price_lg }}</span>
                  {{ else }}
                  <span></span>
                  {{ end }}
              </div>
                </div>
                {{ if .Params.description }}
              <div class="menu__item--desc">
                <p>{{ $post.Params.description | safeHTML }}</p>
              </div>
                {{ else }}
                <span></span>
                {{ end }}
            </div>
        {{ end }}

        <!-- Chicken-->
        <h2 class="is-size-2 mt-5 pt-5 pb-3 menu_header">{{ i18n "chicken" }}</h2>
        <h3 class="is-size-4 pb-5">{{ .Params.wingspecial}}</h3>
        {{ $display_posts := ((.Site.GetPage "section" "/Chicken").Pages) }}
        {{ range $post := $display_posts }}
            <div class="menu mb-3">
                <div class="menu__item--title">
                <h4 class="">{{ $post.Params.title }}</h4>
                <div class="menu__item--price">
                  {{ if .Params.price_s }}
                  <span class="pr-2">{{ $post.Params.price_s }}</span>
                  {{ else }}
                  <span></span>
                  {{ end }}
                  {{ if .Params.price_l }}
                  <span class="pr-2">{{ $post.Params.price_l }}</span>
                  {{ else }}
                  <span></span>
                  {{ end }}
                  {{ if .Params.price_lg }}
                  <span class="pr-2">{{ $post.Params.price_lg }}</span>
                  {{ else }}
                  <span></span>
                  {{ end }}
              </div>
                </div>
                {{ if .Params.description }}
              <div class="menu__item--desc">
                <p>{{ $post.Params.description | safeHTML }}</p>
              </div>
                {{ else }}
                <span></span>
                {{ end }}
            </div>
        {{ end }}

        <!-- Sides -->
        <h2 class="is-size-2 mt-5 pt-5 pb-3 menu_header">{{ i18n "sides" }}</h2>
        {{ $display_posts := ((.Site.GetPage "section" "/Sides").Pages) }}
        {{ range $post := $display_posts }}
            <div class="menu mb-3 columns is-mobile">
              <div class="column is-6">
                <div class="menu__item--title">
                <h4 class="">{{ $post.Params.title }}</h4>
                {{ if .Params.description }}
                <div class="menu__item--desc">
                <p>{{ $post.Params.description | safeHTML }}</p>
              </div>
                {{ else }}
                <span></span>
                {{ end }}
              </div>
            </div>
              <div class="column is-6 is-flex is-justified-end">
                <div class="menu__item--price2">
                  {{ if .Params.price_s }}
                  <span class="pr-2 menu__item--price2">{{ $post.Params.price_s }}</span>
                  {{ else }}
                  <span></span>
                  {{ end }}
                  {{ if .Params.price_l }}
                  <span class="pr-2"><small class="price_prefix">{{ i18n "large" }}</small> {{ $post.Params.price_l }}</span>
                  {{ else }}
                  <span></span>
                  {{ end }}
                  {{ if .Params.price_lg }}
                  <span class="pr-2">{{ $post.Params.price_lg }}</span>
                  {{ else }}
                  <span></span>
                  {{ end }}
              </div>
                </div>
              </div>
        {{ end }}

        <!-- Sides -->
        <h2 class="is-size-2 mt-5 pt-5 pb-3 menu_header">{{ i18n "addons" }}</h2>
        {{ $display_posts := ((.Site.GetPage "section" "/Addons").Pages) }}
        {{ range $post := $display_posts }}
            <div class="menu mb-3 columns is-mobile">
              <div class="column is-6">
                <div class="menu__item--title">
                <h4 class="">{{ $post.Params.title }}</h4>
                {{ if .Params.description }}
                <div class="menu__item--desc">
                <p>{{ $post.Params.description | safeHTML }}</p>
              </div>
                {{ else }}
                <span></span>
                {{ end }}
              </div>
            </div>
              <div class="column is-6 is-flex is-justified-end">
                <div class="menu__item--price2">
                  {{ if .Params.price_s }}
                  <span class="pr-2 menu__item--price2">{{ $post.Params.price_s }}</span>
                  {{ else }}
                  <span></span>
                  {{ end }}
                  {{ if .Params.price_l }}
                  <span class="pr-2"><small class="price_prefix">{{ i18n "large" }}</small> {{ $post.Params.price_l }}</span>
                  {{ else }}
                  <span></span>
                  {{ end }}
                  {{ if .Params.price_lg }}
                  <span class="pr-2">{{ $post.Params.price_lg }}</span>
                  {{ else }}
                  <span></span>
                  {{ end }}
              </div>
                </div>
              </div>
        {{ end }}


        <!-- Pizza -->
        <h2 class="is-size-2 mt-5 pt-5 pb-3 menu_header">{{ i18n "pizza" }}</h2>
        <h3 class="is-size-4 pb-5">{{ .Params.pizzaintro }}</h3>
        <h3 class="is-size-5">{{ i18n "veggies" }}</h3>      
        <p class="pb-2">{{ .Params.pizzaveggies | safeHTML }}</p>
        <h3 class="is-size-5">{{ i18n "meats" }}</h3>      
          <p>{{ .Params.pizzameats | safeHTML }}</p>

        <div class="columns is-mobile mt-5">
          <div class="column">
            
          </div>
          <div class="column is-1 has-text-right">S/P</div>
          <div class="column is-1 has-text-right">M</div>
          <div class="column is-1 has-text-right">L</div>
          <div class="column is-1 has-text-right">XL</div>
        </div>
        {{ $display_posts := ((.Site.GetPage "section" "/Pizza").Pages) }}
        {{ range $post := $display_posts }}
            <div class="menu mb-3">
              <div class="columns is-mobile">
                <div class="column menu__item--title">
                  <h4 class="">{{ $post.Params.title }}</h4>
                  <div class="menu__item--desc">
                    {{ if .Params.description }}
                    <p>{{ $post.Params.description | safeHTML }}</p>
                    {{ else }}
                    <span></span>
                    {{ end }}
                  </div>
                </div>
                
                <div class="column is-1 pizza has-text-right has-text-weight-bold">{{ $post.Params.price_s }}</div>
                <div class="column is-1 pizza has-text-right has-text-weight-bold">{{ $post.Params.price_m }}</div>
                <div class="column is-1 pizza has-text-right has-text-weight-bold">{{ $post.Params.price_l }}</div>
                <div class="column is-1 pizza has-text-right has-text-weight-bold">{{ $post.Params.price_xl }}</div>
              </div>

            </div>
        {{ end }}

        <!-- Wings -->
        <h2 class="is-size-2 mt-5 pt-5 pb-3 menu_header">{{ i18n "wings" }}</h2>
        <h3 class="is-size-4 pb-5">{{ .Params.wingsintro | safeHTML }}</h3>
        {{ $display_posts := ((.Site.GetPage "section" "/Wings").Pages) }}
        {{ range $post := $display_posts }}
            <div class="menu mb-3 level is-mobile">
              <div class="column p-0 is-8">
                <div class="menu__item--title">
                <h4 class="">{{ $post.Params.title }}</h4>
                {{ if .Params.description }}
                <div class="menu__item--desc">
                <p>{{ $post.Params.description | safeHTML }}</p>
              </div>
                {{ else }}
                <span></span>
                {{ end }}
              </div>
            </div>
              <div class="column is-4 is-flex is-justified-end">
                <div class="menu__item--price2">
                  {{ if .Params.price_s }}
                  <span class="pr-2 menu__item--price2"><small class="price_prefix">1lbs</small> {{ $post.Params.price_s }}</span>
                  {{ else }}
                  <span></span>
                  {{ end }}
                  {{ if .Params.price_l }}
                  <span class="pr-2"><small class="price_prefix">2lbs</small> {{ $post.Params.price_l }}</span>
                  {{ else }}
                  <span></span>
                  {{ end }}
                  {{ if .Params.price_lg }}
                  <span class="pr-2"><small class="price_prefix">3lbs</small> ${{ $post.Params.price_lg }}</span>
                  {{ else }}
                  <span></span>
                  {{ end }}
              </div>
                </div>
              </div>
        {{ end }}

        <h2 class="is-size-2 mt-5 pt-5 pb-3 menu_header">{{ i18n "kidsmenu" }}</h2>
        <h3 class="is-size-4 pb-5">{{ .Params.kidsintro | safeHTML }}</h3>
        {{ $display_posts := ((.Site.GetPage "section" "/kids").Pages) }}
        {{ range $post := $display_posts }}
            <div class="menu mb-3 columns is-mobile">
              <div class="column is-6">
                <div class="menu__item--title">
                <h4 class="">{{ $post.Params.title }}</h4>
                {{ if .Params.description }}
                <div class="menu__item--desc">
                <p>{{ $post.Params.description | safeHTML }}</p>
              </div>
                {{ else }}
                <span></span>
                {{ end }}
              </div>
            </div>
              <div class="column is-6 is-flex is-justified-end">
                <div class="menu__item--price2">
                  {{ if .Params.price_s }}
                  <span class="pr-2 menu__item--price2">{{ $post.Params.price_s }}</span>
                  {{ else }}
                  <span></span>
                  {{ end }}
                  {{ if .Params.price_l }}
                  <span class="pr-2"><small class="price_prefix">{{ i18n "large" }}</small> {{ $post.Params.price_l }}</span>
                  {{ else }}
                  <span></span>
                  {{ end }}
                  {{ if .Params.price_lg }}
                  <span class="pr-2">{{ $post.Params.price_lg }}</span>
                  {{ else }}
                  <span></span>
                  {{ end }}
              </div>
                </div>
              </div>
        {{ end }}
        
        

        <h2 class="is-size-2 mt-5 pt-5 pb-3 menu_header">{{ i18n "beverages" }}</h2>
        {{ $display_posts := ((.Site.GetPage "section" "/Beverages").Pages) }}
        {{ range $post := $display_posts }}
            <div class="menu mb-3 columns is-mobile">
              <div class="column is-6">
                <div class="menu__item--title">
                <h4 class="">{{ $post.Params.title }}</h4>
                {{ if .Params.description }}
                <div class="menu__item--desc">
                <p>{{ $post.Params.description | safeHTML }}</p>
              </div>
                {{ else }}
                <span></span>
                {{ end }}
              </div>
            </div>
              <div class="column is-6 is-flex is-justified-end">
                <div class="menu__item--price2">
                  {{ if .Params.price_s }}
                  <span class="pr-2 menu__item--price2">{{ $post.Params.price_s }}</span>
                  {{ else }}
                  <span></span>
                  {{ end }}
                  {{ if .Params.price_l }}
                  <span class="pr-2"><small class="price_prefix">{{ i18n "large" }}</small> {{ $post.Params.price_l }}</span>
                  {{ else }}
                  <span></span>
                  {{ end }}
                  {{ if .Params.price_lg }}
                  <span class="pr-2">{{ $post.Params.price_lg }}</span>
                  {{ else }}
                  <span></span>
                  {{ end }}
              </div>
                </div>
              </div>
        {{ end }}

        </main>
</section>


{{ end }}