{{ define "main" }} 
{{- partial "elements/subheader.html" . }}

<section class="section is-small my-5">
    <main class="container my-5">
        <p class="is-size-4 pb-5 mb-5">{{ .Params.intro }}</p>

        <h2 class="is-size-5">{{ i18n "shortcuts" }}</h2>
        <div class="shortcuts">
        <a class="quicklink quicklink2" href="#specials">{{ i18n "specials" }}</a> 
        <a class="quicklink" href="#appetizer">{{ i18n "appetizers" }}</a>
        <a class="quicklink" href="#poutine">{{ i18n "poutine" }}</a>
        <a class="quicklink" href="#wraps">{{ i18n "wraps" }}</a>
        <a class="quicklink" href="#sandwiches">Sandwiches</a>
        <a class="quicklink" href="#subs">{{ i18n "subs" }}</a>
        <a class="quicklink" href="#salads">{{ i18n "salads" }}</a>
        <a class="quicklink" href="#italian">{{ i18n "italian" }}</a>
        <a class="quicklink" href="#surf">{{ i18n "surf" }}</a>
        <a class="quicklink" href="#chicken">{{ i18n "chicken" }}</a>
        <a class="quicklink" href="#sides">{{ i18n "sides" }}</a>
        <a class="quicklink" href="#pizza">{{ i18n "pizza" }}</a>
        <a class="quicklink" href="#italian">{{ i18n "italian" }}</a>
        <a class="quicklink" href="#kidsmenu">{{ i18n "kidsmenu" }}</a>
        <a class="quicklink" href="#beverages">{{ i18n "beverages" }}</a> 
        
      </div>
        <!-- Appetizers-->
        <h2 id="appetizer" class="is-size-2 mt-5 pt-5 pb-3 menu_header">{{ i18n "appetizers" }}</h2>
        
        {{ if eq .Site.Language.Lang "en" }}
        {{ range sort $.Site.Data.en.appetizers "weight" }}
            {{- partial "items/appetizers" .}}
        {{ end }}
        {{ else }}
        {{ range sort $.Site.Data.fr.appetizers "weight" }}
            {{- partial "items/appetizers" .}}
        {{ end }}
        {{ end }}



        <!-- Poutine-->
        <h2 id="poutine" class="is-size-2 mt-5 pt-5 pb-3 menu_header">{{ i18n "poutine" }}</h2>


        {{ if eq .Site.Language.Lang "en" }}
        {{ range sort $.Site.Data.en.Poutine "weight" }}
            {{- partial "items/poutine" .}}
        {{ end }}
        {{ else }}
        {{ range sort $.Site.Data.fr.Poutine "weight" }}
            {{- partial "items/poutine" .}}
        {{ end }}
        {{ end }}


        <!-- Wraps -->
        <h2 id="wraps" class="is-size-2 mt-5 pt-5 pb-3 menu_header">{{ i18n "wraps" }}</h2>
        <h3 class="is-size-4 pb-5">{{ .Params.wrapsintro | safeHTML }}</h3>

        {{ if eq .Site.Language.Lang "en" }}
        {{ range sort $.Site.Data.en.Wraps "weight" }}
            {{- partial "items/wraps" .}}
        {{ end }}
        {{ else }}
        {{ range sort $.Site.Data.fr.Wraps "weight" }}
            {{- partial "items/wraps" .}}
        {{ end }}
        {{ end }}


        <!-- Sandwiches -->
        <h2 id="sandwiches" class="is-size-2 mt-5 pt-5 pb-3 menu_header">Sandwiches</h2>
        <h3 class="is-size-4 pb-5">{{ .Params.sandintro | safeHTML }}</h3>


        {{ if eq .Site.Language.Lang "en" }}
        {{ range sort $.Site.Data.en.Sandwiches "weight" }}
            {{- partial "items/sandwiches" .}}
        {{ end }}
        {{ else }}
        {{ range sort $.Site.Data.fr.Sandwiches "weight" }}
            {{- partial "items/sandwiches" .}}
        {{ end }}
        {{ end }}

        
        <!-- Subs-->
        <h2 id="subs" class="is-size-2 mt-5 pt-5 pb-3 menu_header">{{ i18n "subs" }}</h2>
        <h3 class="is-size-4 pb-5">{{ .Params.subsintro | safeHTML }}</h3>

        {{ if eq .Site.Language.Lang "en" }}
        {{ range sort $.Site.Data.en.Subs "weight" }}
            {{- partial "items/subs" .}}
        {{ end }}
        {{ else }}
        {{ range sort $.Site.Data.fr.Subs "weight" }}
            {{- partial "items/subs" .}}
        {{ end }}
        {{ end }}
        

        <!-- Salads -->
        <h2 id="salads" class="is-size-2 mt-5 pt-5 pb-3 menu_header">{{ i18n "salads" }}</h2>
        <h3 class="is-size-4 pb-5">{{ .Params.saladsintro | safeHTML }}</h3>

        {{ if eq .Site.Language.Lang "en" }}
        {{ range sort $.Site.Data.en.Salads "weight" }}
            {{- partial "items/salads" .}}
        {{ end }}
        {{ else }}
        {{ range sort $.Site.Data.fr.Salads "weight" }}
            {{- partial "items/salads" .}}
        {{ end }}
        {{ end }}


            


        <!-- Surf & Turf -->
        <h2 id="surf" class="is-size-2 mt-5 pt-5 pb-3 menu_header">{{ i18n "surf" }}</h2>

        {{ if eq .Site.Language.Lang "en" }}
        {{ range sort $.Site.Data.en.Surf "weight" }}
            {{- partial "items/surf" .}}
        {{ end }}
        {{ else }}
        {{ range sort $.Site.Data.fr.Surf "weight" }}
            {{- partial "items/surf" .}}
        {{ end }}
        {{ end }}


           


        <!-- Italian-->
        <h2 id="italian" class="is-size-2 mt-5 pt-5 pb-3 menu_header">{{ i18n "italian" }}</h2>
        <h3 class="is-size-4 pb-5">{{ .Params.italianintro }}</h3>
        <p>{{ .Params.italianintro2 }}</p>

        {{ if eq .Site.Language.Lang "en" }}
        {{ range sort $.Site.Data.en.Italian "weight" }}
            {{- partial "items/italian" .}}
        {{ end }}
        {{ else }}
        {{ range sort $.Site.Data.fr.Italian "weight" }}
            {{- partial "items/italian" .}}
        {{ end }}
        {{ end }}


        <!-- Chicken-->
        <h2 id="chicken" class="is-size-2 mt-5 pt-5 pb-3 menu_header">{{ i18n "chicken" }}</h2>
        
        {{ if eq .Site.Language.Lang "en" }}
        {{ range sort $.Site.Data.en.Chicken "weight" }}
            {{- partial "items/chicken" .}}
        {{ end }}
        {{ else }}
        {{ range sort $.Site.Data.fr.Chicken "weight" }}
            {{- partial "items/chicken" .}}
        {{ end }}
        {{ end }}
            

        <!-- Wings -->
        <h2 id="wings" class="is-size-2 mt-5 pt-5 pb-3 menu_header">{{ i18n "wings" }}</h2>
        <h3 class="is-size-4 pb-5">{{ .Params.wingsintro | safeHTML }}</h3>
        <h3 class="is-size-4 pb-5"><strong>{{ .Params.wingspecial}}</strong></h3>

        {{ if eq .Site.Language.Lang "en" }}
        {{ range sort $.Site.Data.en.Wings "weight" }}
            {{- partial "items/wings" .}}
        {{ end }}
        {{ else }}
        {{ range sort $.Site.Data.fr.Wings "weight" }}
            {{- partial "items/wings" .}}
        {{ end }}
        {{ end }}


            


        <!-- Sides -->
        <h2 id="sides" class="is-size-2 mt-5 pt-5 pb-3 menu_header">{{ i18n "sides" }}</h2>
        <h3 class="is-size-4 pb-5">{{ .Params.sidesintro | safeHTML }}</h3>
        {{ if eq .Site.Language.Lang "en" }}
        {{ range sort $.Site.Data.en.Sides "weight" }}
            {{- partial "items/sides" .}}
        {{ end }}
        {{ else }}
        {{ range sort $.Site.Data.fr.Sides "weight" }}
            {{- partial "items/sides" .}}
        {{ end }}
        {{ end }}

            


       
        <!-- Pizza -->
        <h2 id="pizza" class="is-size-2 mt-5 pt-5 pb-3 menu_header">{{ i18n "pizza" }}</h2>
        <h3 class="is-size-4 pb-5">{{ .Params.pizzaintro }}</h3>
        <h3 class="is-size-5">{{ i18n "veggies" }}</h3>      
        <p class="pb-2">{{ .Params.pizzaveggies | safeHTML }}</p>
        <h3 class="is-size-5">{{ i18n "meats" }}</h3>      
          <p>{{ .Params.pizzameats | safeHTML }}</p>
        <h3 class="is-size-5">{{ i18n "addons" }}</h3>      
          <p>{{ .Params.pizzaaddon | safeHTML }}</p>
          

        <div class="columns is-mobile mt-5">
          <div class="column">
            
          </div>
          <div class="column is-1 has-text-right">S/P</div>
          <div class="column is-1 has-text-right">M</div>
          <div class="column is-1 has-text-right">L</div>
          <div class="column is-1 has-text-right">XL</div>
        </div>


        {{ if eq .Site.Language.Lang "en" }}
        {{ range sort $.Site.Data.en.Pizza "weight" }}
            {{- partial "items/pizza" .}}
        {{ end }}
        {{ else }}
        {{ range sort $.Site.Data.fr.Pizza "weight" }}
            {{- partial "items/pizza" .}}
        {{ end }}
        {{ end }}


        
<!-- Kids Menu -->
        <h2 id="kidsmenu" class="is-size-2 mt-5 pt-5 pb-3 menu_header">{{ i18n "kidsmenu" }}</h2>
        <h3 class="is-size-4 pb-5">{{ .Params.kidsintro | safeHTML }}</h3>

        {{ if eq .Site.Language.Lang "en" }}
        {{ range sort $.Site.Data.en.kids "weight" }}
            {{- partial "items/kids" .}}
        {{ end }}
        {{ else }}
        {{ range sort $.Site.Data.fr.kids "weight" }}
            {{- partial "items/kids" .}}
        {{ end }}
        {{ end }}


            
<!-- Beverages -->
        <h2 id="specials" class="is-size-2 mt-5 pt-5 pb-3 menu_header">{{ i18n "specials" }}</h2>
        <img src="https://imagedelivery.net/55TzV2Sm0ZC5Gj13gsciyw/75d78484-6a36-42e4-54ec-51f9202e7800/HeroFullHeight" alt="Daily Specials Page 1" width="100%">
        <img src="https://imagedelivery.net/55TzV2Sm0ZC5Gj13gsciyw/3e09e690-037f-4e7a-b097-7f54841e1400/HeroFullHeight" alt="Daily Specials Page 2" width="100%">
        </main>
</section>



{{ end }}
