<div class="has-background-light py-4">

  <div class="container level has-text-dark">
        
    <div class="level-left">

      <div class="level-item">
    
      <p>Copyright © {{ dateFormat "2006" now }} - 
        
        {{ if eq .Site.Language.Lang "fr" }}
          
            <a href="{{ .Site.BaseURL }}privacy-policy" class="has-text-primary">{{ i18n "privacypolicy" }}
            
                {{ else }}
            
                <a href="{{ .Site.BaseURL | relLangURL }}privacy-policy" class="has-text-primary has-text-centered-touch">{{ i18n "privacypolicy" }}</a>
            
              {{ end }}
              
            </a> 
        
          </p>
        
        </div>   
      </div>
  
      <div class="level-right has-text-centered-touch">
          
          <p class="">{{ i18n "credit" }} <a href="https://www.supersonicsites.com" class="has-text-primary">Supersonic Sites</a></p>
        
        </div>                   
      
      </div>

  </div>
