<section class="section has-background-dark has-text-white has-text-centered-touch">

  <div class="container">
    {{ if .Params.covid }}
    <span></span>
    {{ else }}
    <div class="is-flex is-column is-aligned-center is-justified-center covidbanner">
      {{ if eq .Site.Language.Lang "fr" }}
      <p class="px-5 text-uppercase">{{ .Site.Params.ctacovidfr }}</p>
      <a href="{{ $.Site.BaseURL | relLangURL }}/covid19" class="button is-secondary mt-5">{{ i18n "learnmore" }}</a>
      {{ else }}
      <p class="px-5 text-uppercase">{{ .Site.Params.ctacovid }}</p>
      <a href="{{ $.Site.BaseURL | relLangURL }}/covid19" class="button is-secondary mt-5">{{ i18n "learnmore" }}</a>
      {{ end }}
    </div>
    {{ end }}

    <div class="columns mt-6">

    <div class="column is-3">

      <img src="{{ .Site.BaseURL }}img/Logos-footer.png"
                        alt="{{ .Site.Params.businessname }}"
                        class="lazyload"
                        width="200px"      
                        />   
    </div>

    <div class="column is-3">
      <h3 class="is-size-4 text-uppercase mb-2">{{ i18n "navigate" }}</h3>

      <div class="">
       
        <ul class="menu_footer">
          {{ range .Site.Menus.main -}}
          
          <li class="py-1"><a class="footer_link" href="{{ .URL | relLangURL }}">{{ .Name }}</a></li>
          
          {{ end }}

        </ul>

      </div>

    </div>

    <div class="column is-3">
      <h3 class="is-size-4 text-uppercase mb-2">{{ i18n "hours" }}</h3>
      <ul class="">

      {{ if .Site.Params.hours.hour1en }}
        {{ if eq .Site.Language.Lang "fr" }}
          <li class="">{{ .Site.Params.hours.hour1fr }}</li>
          {{ else }}
          <li class="">{{ .Site.Params.hours.hour1en }}</li>
        {{ end }}
        <span></span>
        {{ end }}

        {{ if .Site.Params.hours.hour2en }}
        {{ if eq .Site.Language.Lang "fr" }}
          <li class="">{{ .Site.Params.hours.hour2fr }}</li>
          {{ else }}
          <li class="">{{ .Site.Params.hours.hour2en }}</li>
        {{ end }}
        <span></span>
        {{ end }}

        {{ if .Site.Params.hours.hour3en }}
        {{ if eq .Site.Language.Lang "fr" }}
          <li class="">{{ .Site.Params.hours.hour3fr }}</li>
          {{ else }}
          <li class="">{{ .Site.Params.hours.hour3en }}</li>
        {{ end }}
        <span></span>
        {{ end }}

        {{ if .Site.Params.hours.hour4en }}
        {{ if eq .Site.Language.Lang "fr" }}
          <li class="">{{ .Site.Params.hours.hour4fr }}</li>
          {{ else }}
          <li class="">{{ .Site.Params.hours.hour4en }}</li>
        {{ end }}
        <span></span>
        {{ end }}
    </ul>

    </div>

    <div class="column is-3">
      <h3 class="is-size-4 text-uppercase mb-2">CONTACT</h3>

      <div class="">
      {{ if .Site.Params.social.facebook }}
      <a href="{{ .Site.Params.social.facebook }}" target="_blank" rel="nofollow noreferrer">
        <svg class="fill-brand-footer">
          <use xlink:href="{{ $.Site.BaseURL }}icons/brands.svg#facebook"></use>
        </svg>
        </a>
        {{ else }}
        <span></span>
        {{ end }}
        {{ if .Site.Params.social.twitter }}
        <a href="{{ .Site.Params.social.twitter }}" target="_blank" rel="nofollow noreferrer">
          <svg class="fill-brand-footer">
            <use xlink:href="{{ $.Site.BaseURL }}icons/brands.svg#twitter"></use>
          </svg>
          </a>
          {{ else }}
        <span></span>
        {{ end }}
        {{ if .Site.Params.social.instagram }}
        <a href="{{ .Site.Params.social.instagram }}" target="_blank" rel="nofollow noreferrer">
        <svg class="fill-brand-footer">
          <use xlink:href="{{ $.Site.BaseURL }}icons/brands.svg#instagram"></use>
        </svg>
        </a>
        {{ else }}
        <span></span>
        {{ end }}
        {{ if .Site.Params.social.pinterest}}
        <a href="{{ .Site.Params.social.pinterest }}" target="_blank" rel="nofollow noreferrer">
        <svg class="fill-brand-footer">
          <use xlink:href="{{ $.Site.BaseURL }}icons/brands.svg#pinterest"></use>
        </svg></a>
        {{ else }}
        <span></span>
        {{ end }}
        {{ if .Site.Params.social.linkedin}}
        <a href="{{ .Site.Params.social.linkedin }}" target="_blank" rel="nofollow noreferrer">
        <svg class="fill-brand-footer">
          <use xlink:href="{{ $.Site.BaseURL }}icons/brands.svg#linkedin"></use>
        </svg></a>
        {{ else }}
        <span></span>
        {{ end }}
      </div>

      <address class="">

        <small>{{ .Site.Params.schema.address }},</small>
        {{ if .Site.Params.schema.address2 }}
        <br>
        <small>{{ .Site.Params.schema.address2 }}</small>
        {{ else }}
        <span></span>
        {{ end }}
        <br>
        <small>{{ .Site.Params.schema.city }}, {{ .Site.Params.schema.region }} </small>
        <br>
        <small>{{ .Site.Params.schema.postalcode }}</small>
        <br>
        <small>{{ .Site.Params.schema.country }}</small>

      </address>    

    </div>

  </div>
</div>
</section>
