<section class="section">

    <div class="container">
      <div class="columns">
        <div class="column is-6">

          <h2 class="title is-size-3 text-uppercase mt-6">{{ i18n "contactus" }}</h2>
          
          <form id="contact-form" method="POST" action="{{ .Site.Params.usebasin }}" role="form">
          
            <div class="field">
          
              <label class="label">{{ i18n "firstname" }} *</label>
                 
              <div class="control">
          
                <input id="form_name" class="input" placeholder="e.g Alex Smith" type="text" name="name" class="form-control" required="required" data-error="Firstname is required.">
          
              </div>
          
            </div>
          
          <div class="field">
            
            <label class="label">{{ i18n "email" }} *</label>
            
            <div class="control">
            
              <input class="input" type="email" placeholder="e.g. alexsmith@gmail.com" data-error="Valid email is required.">
            
            </div>
          
          </div>

          <div class="field">
            
            <label class="label">{{ i18n "phone" }}</label>
            
            <div class="control">
            
              <input class="input" type="tel" placeholder="e.g. +1-234-567-7890">
            
            </div>
          
          </div>

          <div class="field">

          <label for="form_message"><strong>Message *</strong></label>

              <textarea id="form_message" name="message" class="textarea" rows="4" required data-error="Please,leave us a message."></textarea>
       
        </div>
        <div class="is-flex is-justified-center">
        <input type="submit" class="button is-primary" value="{{ i18n "send" }}">
      </div>
        </form>
        </div>

        <div class="column is-6">
          
          <h2 class="title is-size-3 text-uppercase has-text-centered-touch mt-6">{{ i18n "contactdetail" }}</h2>

          <div class="level mt-6">
            <div class="level-left">
            <div class="level-item">
  
              <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-geo-alt" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  
                  <path fill-rule="evenodd" d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
  
              </svg>
  
             {{ $.Site.Params.schema.address }}, {{ $.Site.Params.schema.city }}, {{ $.Site.Params.schema.region }}, {{ $.Site.Params.schema.postalcode }}
            </div>
            </div>
          </div>
  
          <div class="level">
            <div class="level-left">
            <div class="level-item">
  
              <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-telephone-outbound-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  
                  <path fill-rule="evenodd" d="M2.267.98a1.636 1.636 0 0 1 2.448.152l1.681 2.162c.309.396.418.913.296 1.4l-.513 2.053a.636.636 0 0 0 .167.604L8.65 9.654a.636.636 0 0 0 .604.167l2.052-.513a1.636 1.636 0 0 1 1.401.296l2.162 1.681c.777.604.849 1.753.153 2.448l-.97.97c-.693.693-1.73.998-2.697.658a17.471 17.471 0 0 1-6.571-4.144A17.47 17.47 0 0 1 .639 4.646c-.34-.967-.035-2.004.658-2.698l.97-.969zM11 .5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V1.707l-4.146 4.147a.5.5 0 0 1-.708-.708L14.293 1H11.5a.5.5 0 0 1-.5-.5z"/>
                
              </svg>
  
              <a href="tel:{{ $.Site.Params.schema.phone }}" class="has-text-primary">{{ $.Site.Params.schema.phone }}</a>
              </div>
            </div>
            </div>
  
            <div class="level">
              <div class="level-left">
              <div class="level-item">
  
              <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-envelope-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
                </svg>
  
              <a href="mailto:{{ $.Site.Params.schema.email }}" class="ml-1 has-text-primary">{{ $.Site.Params.schema.email }}</a>
                </div>
              </div>
          </div>
  
          <div class="map-wrapper">
  
          <iframe src="{{ $.Site.Params.googlemap }}" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        
          </div>
        </div>
      </div>

        

    </div>
  </div>
    
    </div>

</section>  